<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801900444436-rb0loee6qkr4v0numo8d298m9i6tph1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801900444436-rb0loee6qkr4v0numo8d298m9i6tph1g</string>
	<key>API_KEY</key>
	<string>AIzaSyBbcH4Zlptsn_k55l37KQ_OKJAhJ00AwUY</string>
	<key>GCM_SENDER_ID</key>
	<string>801900444436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mervenurtopcu.suggestionsByMode</string>
	<key>PROJECT_ID</key>
	<string>suggestions-by-mode</string>
	<key>STORAGE_BUCKET</key>
	<string>suggestions-by-mode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801900444436:ios:245d59a0eb27aecc202001</string>
</dict>
</plist>